*,
::after,
::before {
  box-sizing: border-box;
}

.react-app {
  background-color: #f9f9f9;
}

.row {
  display: grid;
  height: 1000px;
  grid-template-areas:
    "nav  main"
    "nav  main";
  grid-template-rows: 50px;
  grid-template-columns: 300px;
  padding-right: 15px;
  padding-left: 15px;
}
